[Unit]
Description=Trento agent service

[Service]
ExecStart=/usr/bin/trento agent start
Type=simple
User=root
Restart=on-failure
RestartSec=5
Requires=prometheus-node_exporter
After=prometheus-node_exporter

[Install]
WantedBy=multi-user.target
